:root {
    --background-color: rgb(185, 172, 147);
    --text-color: white;
 }
 
 body {
    background-color: var(--background-color);
    color: var(--text-color);
 }

.card-container {
   display: flex;
   justify-content: space-between; /* Adjust as needed */
 }